/*Page-Wide*/
body {
    background-color: aquamarine;
    color:darkblue
}

/*Paragraph Content*/
.text {
    background-color: cadetblue;
    color:darkblue;
    padding: 5px
     font-family: "Playwrite IS", cursive;
}

<h1> <h2> {
    font-family: "Baskervville SC", serif;
}

/*For More Stories, follow me!*/
a {
    background-color: blueviolet; padding: 2px;
}